html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}




.grid-container {
     border: 3px solid rgb(211, 211, 211, 0.0);      
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 0.5fr 4fr 4fr 0.5fr;
     grid-template-rows: 03vh 40vh 03vh; 
}


.grid-item {
<!--     border: 3px solid red;    -->

}

.grid-itemTopBottom {
<!--     border: 3px solid purple;    -->

}

.grid-itemMargin {
<!--     border: 3px solid green;    -->

}



.grid-containerIntro {
     border: 3px solid rgb(211, 211, 211, 1.0);      
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 0.5fr 4fr 0.5fr;
     grid-template-rows: 03vh 170vh 03vh; 
}





.grid-containerReference {
     border: 3px solid rgb(211, 211, 211, 1.0);      
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 0.5fr 4fr 0.5fr;
     grid-template-rows: 03vh 1630vh 03vh; 
}


.grid-itemReference {

}

.grid-itemTopBottomReference {
      
}

.grid-itemMarginReference {

}



.grid-containerCode1 {
     border: 3px solid rgb(211, 211, 211, 1.0); 
     width:75%;   
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 0.5fr 4fr 4fr 0.5fr;
     grid-template-rows: 0.5vh 310vh 0.5vh; 
}


.grid-containerCode2 {
     border: 3px solid rgb(211, 211, 211, 1.0); 
     width:75%;   
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 0.5fr 4fr 4fr 0.5fr;
     grid-template-rows: 0.5vh 70vh 0.5vh; 
}


.grid-itemCode {

}

.grid-itemTopBottomCode {

}

.grid-itemMarginCode {

}





div.debugOut {
   margin:5px,5px;
   padding:5px;
   background-color:aliceblue;
   width:96%;
   height:260px;
   overflow-x:hidden; 
   overflow-y:auto;
   text-align:justify;
}        


div.scrollingReferences1 {
   margin:5px,5px;
   padding:5px;
   background-color:aliceblue;
   width:96%;
   height:300px;
   overflow-x:hidden; 
   overflow-y:auto;
   text-align:justify;
}        



div.codeFizzBuzzScrollingText1 {
   margin:5px,5px;
   padding:5px;
   background-color:aliceblue;
   width:96%;
   height:300px;
   overflow-x:hidden; 
   overflow-y:auto;
   text-align:justify;
}        


div.scrollingTable1 {
   margin:5px,5px;
   padding:5px;
   background-color:aliceblue;
   width:96%;
   height:300px;
   overflow-x:hidden; 
   overflow-y:auto;
   text-align:justify;
}        


div.colorPickerScrollingTable1 {
   margin:5px,5px;
   padding:5px;
   background-color:aliceblue;
   width:96%;
   height:100px;
   overflow-x:hidden; 
   overflow-y:auto;
   text-align:justify;
}        




input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    border: 3px solid #808080;
}


input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 50px;
    border-radius: 5px;
    border: 3px solid #808080;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 50px;
    border-radius: 5px;
    border: 3px solid #808080;
}









