html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


div.debugOut {
   margin:5px,5px;
   padding:5px;
   background-color:aliceblue;
   width:96%;
   height:260px;
   overflow-x:hidden; 
   overflow-y:auto;
   text-align:justify;
}        


div.scrollingReferences1 {
   margin:5px,5px;
   padding:5px;
   background-color:aliceblue;
   width:96%;
   height:300px;
   overflow-x:hidden; 
   overflow-y:auto;
   text-align:justify;
}        



div.scrollingTable1 {
   margin:5px,5px;
   padding:5px;
   background-color:aliceblue;
   width:96%;
   height:300px;
   overflow-x:hidden; 
   overflow-y:auto;
   text-align:justify;
}        









