@page
@model IndexModel
@{
    ViewData["Title"] = "About this Web App";
}

<div class="text-center">

   <span style="color:Black;font-size:23px;"><b>@ViewData["Title"]</b></span>

   <br>
   <span style="color:Black;font-size:13px;">
   This is a demo of a <span style="color:Navy;font-size:14px;"><b>multi-page</b></span> 
   <span style="color:Navy;font-size:14px;"><b>Web app</b></span> running under 
   <span style="color:Navy;font-size:14px;"><b>Windows</b></span> using the 
   <span style="color:Navy;font-size:14px;"><b>Microsoft Azure</b></span> platform. 
   The Web app is running in the 
   <span style="color:Navy;font-size:14px;"><b>Azure free tier</b></span>, 
   so there might occasionally be a slight delay before the app displays on screen.
   <span id="textGraphAppCaption" style="color:Black;font-size:13px;"<i>
   <span style="color:Navy;font-size:14px;"><b>Azure App Service</b></span> can host 
   <span style="color:Navy;font-size:14px;"><b>Web apps</b></span>, 
   <span style="color:Navy;font-size:14px;"><b>REST APIs</b></span>, and 
   <span style="color:Navy;font-size:14px;"><b>mobile back ends</b></span> over 
   <span style="color:Navy;font-size:14px;"><b>HTTP</b></span>. 
   The service supports apps under 
   <span style="color:Navy;font-size:14px;"><b>Windows</b></span> or 
   <span style="color:Navy;font-size:14px;"><b>Linux</b></span>. 
   Apps may be written using 
   <span style="color:Navy;font-size:14px;"><b>.NET</b></span>, 
   <span style="color:Navy;font-size:14px;"><b>Java</b></span>, 
   <span style="color:Navy;font-size:14px;"><b>Node.js</b></span>, 
   <span style="color:Navy;font-size:14px;"><b>PHP</b></span> and 
   <span style="color:Navy;font-size:14px;"><b>Python</b></span> under 
   <span style="color:Navy;font-size:14px;"><b>Windows</b></span>. Or  
   <span style="color:Navy;font-size:14px;"><b>.NET Core</b></span>, 
   <span style="color:Navy;font-size:14px;"><b>Node.js</b></span>, 
   <span style="color:Navy;font-size:14px;"><b>PHP</b></span> and 
   <span style="color:Navy;font-size:14px;"><b>Ruby</b></span> under 
   <span style="color:Navy;font-size:14px;"><b>Linux</b></span>. 
   <span style="color:Navy;font-size:14px;"><b>Scripts</b></span> (
   <span style="color:Navy;font-size:14px;"><b>PowerShell</b></span> or 
   others) are supported. 
   <span style="color:Navy;font-size:14px;"><b>[1]</b></span>
   </span>
   </center>
   <br>

   <span style="color:Black;font-size:13px;"><b>Development IDE:</b>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;
   </span>
   <span style="color:Maroon;font-size:13px;"><b>Text editor</b>,
   <b>dotnet CLI</b>,
   <b>Visual Studio</b> or 
   <b>Visual Studio Code</b>
   </span><br>

   <span style="color:Black;font-size:13px;"><b>Language:</b>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;
   </span>
   <span style="color:Maroon;font-size:13px;"><b>
   .Net Core, HTML, CSS, SVG</b>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;
   </span><br>

<span style="color:Maroon;font-size:13px;"><b><span style="color:Maroon;font-size:13px;">&#x2022;</span> 1. Create a repository on GitHub<br>
<span style="color:Maroon;font-size:13px;">&#x2022;</span> 2. Use dotnet CLI to create the web app within the repository
<br>
<span style="color:Maroon;font-size:13px;">&#x2022;</span> 3. Use the Azure portal to configure a web app<br>
<span style="color:Maroon;font-size:13px;">&#x2022;</span> 4. Create and configure an Azure Resource Group<br>
<span style="color:Maroon;font-size:13px;">&#x2022;</span> 5. Configure an Azure Deployment<br>
<span style="color:Maroon;font-size:13px;">&#x2022;</span> 6. Set up continuous integration/continuous deployment (CI/CD) using GitHub in an Azure Deployment<br>
<span style="color:Maroon;font-size:13px;">&#x2022;</span> 7. Use Git to update the web app<br>
<span style="color:Maroon;font-size:13px;">&#x2022;</span> 8. Use Azure CLI
</b>
</span>
</i></span><br>

<center>


<span style="color:Navy;font-size:17px;"><b>References</b></span>
<br>

<span style="color:Black;font-size:12px;"><b>
[1].   "App Service overview"
06/15/2023
https://learn.microsoft.com/en-us/azure/app-service/overview?wt.mc_id=rmskilling_docs_onboarding_email_gdc
<br>
[2].   "Quickstart: Deploy an ASP.NET web app"
05/09/2023
https://learn.microsoft.com/en-us/azure/app-service/quickstart-dotnetcore?tabs=net70&pivots=development-environment-cli
</b></span><br>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>



