@page
@model IndexModel
@{
    ViewData["Title"] = "Demos";
}

<div class="text-center">

   <h1>@ViewData["Title"]</h1>

   <p>This page contains links to various demos.</p>

    <p></p>

    <center>
    <div class="demosScrollingLinks1"  
       style="color:black;background-color:aliceblue;border:2px solid 
          maroon;border-radius:8px;margin-top:3px;margin-bottom:3px" 
          id="scrollingReferenceOut" name="scrollingReferenceOut" 
          title="the demo links and introductions appear within this scrolling area" 
          aria-label="the demo links and introductions appear within this scrolling area">
          
       <span id="verticalSpacer1"><br><br></span>

       <p>
          <center>
          <a asp-area="" asp-page="/Travelers"><span id="linkTravelersDB" 
              style="color:Navy;font-size:16px;"><b>Traveler's Database using SQLite</b></span></a><br>
          </center>
          <center>
          <span id="textTravelersIntroduction" style="color:Grey;font-size:14px;">
             Find the closest rest stops during your road trip.
          </span>
          </center><br>
       </p>

       <br><br>

       <p>
          <center>
          <a asp-area="" asp-page="/videoEarlySVG"><span id="linkVideoEarlySVG1" 
              style="color:Navy;font-size:16px;"><b>Early SVG Animations</b></span></a>
          &nbsp;
          <svg id="mp4Icon" xmlns="http://www.w3.org/2000/svg" width="80" height="80" 
             fill="currentColor" class="bi bi-camera-reels" transform="translate(0,-8)" 
             viewBox="0 0 16 16" role="graphics-document" aria-labelledby="mp4IconTitle" 
             aria-describedby="mp4IconDesc"> <title> id="mp4IconTitle">mp4 icon</title> 
             <desc  id="mp4IconDesc">this icon represents an mp4 file</desc> 
             <rect opacity="0.0" fill="none" stroke="red" stroke-width="1"  
                width="16" height="16" /> 
                <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/> 
                <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/> 
                <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/> 
                <g font-size="6.6" text-anchor="middle"> 
                   <text x="8.0" y="13.3" opacity="1.0" fill="blue" stroke="blue" 
                      stroke-width="0.3">mp4</text> 
                </g> 
          </svg><br>
          </center>
          <center>
          <span id="textIntroduction" style="color:Grey;font-size:14px;">
             The SVG graphic format first began to be developed in 1999. [1]
             &nbsp;&nbsp;It has been adopted as a standard<br>
             by the 
             <span id="textIntroductionEmphasized1" style="color:Navy;font-size:15px;">
             <b>World Wide Web Consortium</b></span> ( 
             <span id="textIntroductionEmphasized2" style="color:Navy;font-size:15px;">
             <b>W3C</b></span> ). 
             SVG images can be resized without losing any of<br>
             the image quality. 
             The technology is mature and allows the Web developer to create 
             <span id="textIntroductionEmphasized3" style="color:Navy;font-size:15px;">
             <b>custom 2D images</b></span><br>
             for their website. 
          </span><br><br>

          <span id="textSVGanimationCaption" style="color:Grey;font-size:14px;">
              <i>It's possible to animate an SVG. One way to do so is by using 
              <span id="textAnimationEmphasized1" style="color:Navy;font-size:15px;">
                  <b>JavaScript</b></span> to manipulate the 
                  <span id="textAnimationEmphasized2" style="color:Navy;font-size:15px;">
                  <b>DOM</b></span>. These are early<br>
              attempts at 
              <span id="textAnimationEmphasized3" style="color:Navy;font-size:15px;">
                  <b><i>animation using SVG</i></b></span>. 
              They run inside a 
              <span id="textAnimationEmphasized4" style="color:Navy;font-size:15px;">
              <b><i>web browser</i></b></span>, and were written in 
              <span id="textAnimationEmphasized5" style="color:Navy;font-size:15px;">
              <b><i>2013</i></b></span>. A short discussion<br> 
              of SVG animation with references and examples. 
              Includes a walkthrough of the code for a simple animation.
              </i></span><br><br>

          <span id="reference9" style="color:Black;font-size:12px;">
             [1]&nbsp;&nbsp;&nbsp;&nbsp;Mozilla and individual contributors, "SVG: Scalable Vector Graphics | MDN." <i>MDN Web Docs</i>. [Online]. Available: https://developer.mozilla.org/<br>
                en-US/docs/Web/SVG. [Accessed: 06-Dec-2021].</span><br>
          <span id="viewReference9" style="color:Black;font-size:12px;">&nbsp;View&nbsp;</span>
             <a href="https://developer.mozilla.org/en-US/docs/Web/SVG" target="_blank">
                 <span id="referenceLink9" style="font-size:12px;">
                    <b><i>SVG: Scalable Vector Graphics | MDN.</i></b></span></a><br><br>

          <span id="introCopyright1" style="color:Black;font-size:14px;">
             <b>Demo Copyright &#169; 2013, 2021. All rights reserved.</b></span><br>
          <span id="introCopyright2" style="color:Black;font-size:14px;">
             <b>Video Copyright &#169; 2021. All rights reserved.</b></span><br><br>

          </center><br>
       </p>

       <p>
          <center>
          <a asp-area="" asp-page="/OnTheWay"><span id="linkOnTheWay1" 
              style="color:Navy;font-size:16px;"><b>Unfinished Page</b></span></a><br>
          </center>
       </p>

       <p>
          <center>
          <a asp-area="" asp-page="/OnTheWay"><span id="linkOnTheWay1" 
              style="color:Navy;font-size:16px;"><b>Unfinished Page</b></span></a>
          </center>
       </p>
          
      
       <span id="verticalSpacer3"><br><br><br><br></span>
        
    </div>
    </center>


    <p>
       <br>
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>



