@page
@model IndexModel
@{
    ViewData["Title"] = "webApp1 Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the demo.</h1>

    <p>Additional text.</p>
    <p>
       <br><br><br>
    </p>
    <p>
       <br><br><br>
    </p>



    <p>References: <a asp-area="" asp-page="/MainReferences">View the references</a>.</p>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>
