@page
@model IndexModel
@{
    ViewData["Title"] = "Tools";
}

<div class="text-center">

   <h1>@ViewData["Title"]</h1>

   <p><a asp-area="" asp-page="/Debugger"><span id="linkDebugger" 
           style="color:Navy;font-size:16px;"><b>Debugger</b></span></a></p>

   <p><a asp-area="" asp-page="/toolsColorTable"><span id="linkToolColorTable" 
           style="color:Navy;font-size:16px;"><b>Color Table</b></span></a></p>

    <p>
       <a asp-area="" asp-page="/OnTheWay"><span id="linkOnTheWay1" 
           style="color:Navy;font-size:16px;"><b>Unfinished Page</b></span></a><br><br>

       <a asp-area="" asp-page="/OnTheWay"><span id="linkOnTheWay1" 
           style="color:Navy;font-size:16px;"><b>Unfinished Page</b></span></a><br><br>
    </p>

    <p>
       <br>
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>




