@page
@model IndexModel
@{
    ViewData["Title"] = "This is Page 2";
}

<div class="text-center">

<h1>@ViewData["Title"]</h1>

   <p>Use this page for page 2.</p>

   <p>xxxxxxxxxxxxxxx</p>

   <p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>

    <p>
       <br><br><br>
    </p>


    <p>
       <br><br><br>
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>






