@page
@model PrivacyModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


<center>
<div class="grid-containerIntroPrivacy">

     <div class="grid-itemMargin">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemMargin">
     </div>




     <div class="grid-itemMargin">
     </div>

     <div class="grid-item">
<center> 
<svg transform="translate(0,-12)" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
role="graphics-document" aria-labelledby="iconPrivacyTitle" aria-describedby="iconPrivacyDesc"> <title> id="iconPrivacyTitle">Privacy icon</title> <desc  id="iconPrivacyDesc">this icon represents privacy</desc> <rect opacity="0.0" fill="none" stroke="red" stroke-width="0.1"  width="16" height="16" />
  <path fill="black" stroke="black" stroke-width="0.2" d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
  <path fill="black" stroke="black" stroke-width="0.7" d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
  <path fill="black" stroke="black" stroke-width="0.2" d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
  <path fill="red" stroke="red" stroke-width="0.7" d="m13.296 13.884-11-11 .708-.708 11 11-.708.708z"/>
</svg>

<span id="pageTitle" style="color:Navy;font-size:48px;"><b>
&nbsp;
Privacy Policy</b></span>
</center>




<center>
<div class="grid-containerPrivacyExplanation1">

     <div class="grid-itemMargin">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemMargin">
     </div>




     <div class="grid-itemMargin">
     </div>

     <div class="grid-itemLeft"><br>
<center> 
<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
role="graphics-document" aria-labelledby="iconCloudUploadTitle" aria-describedby="iconCloudUploadDesc"> <title> id="iconCloudUploadTitle">Cloud upload not allowed icon</title> <desc  id="iconCloudUploadDesc">this icon represents that uploads to the cloud are not allowed</desc> <rect opacity="0.0" fill="none" stroke="red" stroke-width="0.1"  width="16" height="16" />
  <path fill-rule="evenodd" fill="black" stroke="black" stroke-width="0.7" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
  <path fill-rule="evenodd" fill="lightblue" stroke="blue" stroke-width="0.7" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
  <path fill="red" stroke="red" stroke-width="0.7" d="m13.296 13.884-12-12 .708-.708 12 12-.708.708z"/>
</svg>
<center>

</div>

     <div class="grid-itemRight"><br>
<span style="color:Black;font-size:14px;">
This site normally does not <span style="color:Navy;font-size:15px;"><b><i>collect</i></b></span> or 
<span style="color:Navy;font-size:15px;"><b><i>retain</i></b></span> any data. The only 
exception to this is when it is necessary to use the site 
<span style="color:Navy;font-size:15px;"><b><i>debugging panel</i></b></span> 
in order to 
<span style="color:Navy;font-size:15px;"><b><i>troubleshoot</i></b></span> 
a possible problem.
</span>



</div>

     <div class="grid-itemMargin">
     </div>





     <div class="grid-itemMargin">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemMargin">
     </div>

     <!--  end of grid container explain 1 -->
</div>
</center>

<center>
<div class="grid-containerPrivacyExplanation2">

     <div class="grid-itemMargin">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemMargin">
     </div>




     <div class="grid-itemMargin">
     </div>

     <div class="grid-itemLeft"><br>
<center> 
<center>
<BUTTON style="background-color:lightblue;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid lightgrey;border-radius:8px;width=153px;height:51px;-webkit-appearance:none" TYPE="button" id="debugButton" name="debugButton" title="show DEBUG info button" aria-label="show DEBUG info button" ONCLICK="doNothing()" ACCESSKEY=S><span style="font-size:36px;">     <svg transform="translate(0,-12)" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="navy" stroke="white" class="bi bi-gear-fill" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc">
    <title> id="iconTitle">show debug info</title>
    <desc  id="iconDesc">this icon indicates that you can open a debugging panel</desc>  <rect opacity="1" fill="none" stroke="none" stroke-width="1"  width="16" height="16" /> <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/> </svg> </svg> <svg transform="translate(0,-12)" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="Navy" class="bi bi-keyboard-fill" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc">
    <title> id="iconTitle">access key S</title>
    <desc  id="iconDesc">this icon indicates keyboard navigation using the S access key</desc>  <rect opacity="1" fill="none" stroke="none" stroke-width="1"  width="16" height="16" /> <path d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6zm13 .25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5a.25.25 0 0 0-.25.25zM2.25 8a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 8.75v-.5A.25.25 0 0 0 2.75 8h-.5zM4 8.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 5 8.75v-.5A.25.25 0 0 0 4.75 8h-.5a.25.25 0 0 0-.25.25zM6.25 8a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 7 8.75v-.5A.25.25 0 0 0 6.75 8h-.5zM8 8.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 9 8.75v-.5A.25.25 0 0 0 8.75 8h-.5a.25.25 0 0 0-.25.25zM13.25 8a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5zm-3-2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h1.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-1.5zm.75 2.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5a.25.25 0 0 0-.25.25zM11.25 6a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5zM9 6.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5A.25.25 0 0 0 9.75 6h-.5a.25.25 0 0 0-.25.25zM7.25 6a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 8 6.75v-.5A.25.25 0 0 0 7.75 6h-.5zM5 6.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 6 6.75v-.5A.25.25 0 0 0 5.75 6h-.5a.25.25 0 0 0-.25.25zM2.25 6a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h1.5A.25.25 0 0 0 4 6.75v-.5A.25.25 0 0 0 3.75 6h-1.5zM2 10.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5a.25.25 0 0 0-.25.25zM4.25 10a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h5.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-5.5z"/> <g font-size="10" text-anchor="middle"> <text x="8.0" y="12.1" opacity="1.0" fill="orange" stroke="orange" stroke-width="1.0">S</text> </g> </svg>    </span></BUTTON> 
</center>

</div>

     <div class="grid-itemRight"><br>
<span style="color:Black;font-size:14px;">
A <span style="color:Navy;font-size:15px;"><b><i>button</i></b></span> 
similar to the one on the left is located in the 
<span style="color:Navy;font-size:15px;"><b><i>debugger page</i></b></span> 
under <span style="color:Navy;font-size:15px;"><b><i>Tools</i></b></span>, 
which is in the menu at the top of the page. It is used when it is necessary to 
<span style="color:Navy;font-size:15px;"><b><i>troubleshoot</i></b></span> 
a problem. When you click the button, 
the debugger <span style="color:Navy;font-size:15px;"><b><i>collects</i></b></span> 
various information about the 
<span style="color:Navy;font-size:15px;"><b><i>browser</i></b></span> 
and the <span style="color:Navy;font-size:15px;"><b><i>device</i></b></span>. 
<span style="color:Navy;font-size:15px;"><b><i>No information is collected unless you 
click the button</i></b></span>, 
which implies your consent to do so. The information is only displayed to the user. 
<span style="color:Navy;font-size:15px;"><b><i>No information is saved</i></b></span>.
</span>

</div>

     <div class="grid-itemMargin">
     </div>





     <div class="grid-itemMargin">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemMargin">
     </div>

     <!--  end of grid container explain 2 -->
</div>
</center>

     </div>


     <div class="grid-itemMargin">
     </div>




     <div class="grid-itemMargin">
     </div>
     <div class="grid-itemTopBottom">
     </div>
     <div class="grid-itemMargin">
     </div>

     <!--  end of grid container Intro Privacy  -->
</div>
</center>




