@page
@model IndexModel
@{
    ViewData["Title"] = "Color Picker";
}

<div class="text-center">

   <h1>@ViewData["Title"]</h1>

    <p></p>

<center>
<span id="colorValueStrLabel" style="color:Black;font-size:19px;">Color Description</span>
&nbsp;&nbsp;&nbsp;
<a asp-area="" asp-page="/toolsColorTable"><span id="linkToolColorTable" 
           style="color:Navy;font-size:16px;"><b><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-info-circle" transform="translate(-4,0)" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">info icon</title>
    <desc  id="iconDesc">this icon indicates that additional information is available</desc> <rect opacity="1" fill="none" stroke="none" stroke-width="1"  width="16" height="16" /> <path fill="orange" stroke="orange" stroke-width="1.0" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path fill="blue" stroke="blue" stroke-width="1.0" d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/> </svg>
&nbsp;
Help</b></span></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="colorSampleLabel" style="color:Black;font-size:19px;">Color Sample</span>
<br>
<input style="color:black;background-color:ivory;text-align:center;height:28px;font-size:19px;border-radius:8px;margin-top:3px;margin-bottom:3px" id="colorValueInput" name="colorValueInput" title="the string for the color value" aria-label="the string for the color value" type="text" size="46" maxlength="45" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input style="color:black;background-color:ivory;text-align:center;height:28px;font-size:19px;border-radius:8px;margin-top:3px;margin-bottom:3px" id="sampleColorInput" name="sampleColorInput" title="sample color" aria-label="sample color" type="text" size="4" maxlength="4" readonly />
</center>
<center> 
<input style="color:black;background-color:ivory;text-align:center;height:26px;font-size:17px;border:2px solid Red;border-radius:8px;margin-top:3px;margin-bottom:3px" id="redValueInput" name="redValueInput" title="Red value" aria-label="Red value" type="text" size="4" maxlength="4" />

<span id="RgbValuesRedGreenSpace">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>

<input style="color:black;background-color:ivory;text-align:center;height:26px;font-size:17px;border:2px solid Green;border-radius:8px;margin-top:3px;margin-bottom:3px" id="greenValueInput" name="greenValueInput" title="Green value" aria-label="Green value" type="text" size="4" maxlength="4" />

<span id="RgbValuesGreenBlueSpace">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>

<input style="color:black;background-color:ivory;text-align:center;height:26px;font-size:17px;border:2px solid Blue;border-radius:8px;margin-top:3px;margin-bottom:3px" id="blueValueInput" name="blueValueInput" title="Blue value" aria-label="Blue value" type="text" size="4" maxlength="4" />
<br>

<span id="increaseRgbInitialSpace"></span><BUTTON style="background-color:mistyrose;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid red;border-radius:8px;width:26px;height:26px;-webkit-appearance:none" TYPE="button" id="increaseRedButton" name="increaseRedButton" title="increase the Red value" aria-label="increase the Red value" ONCLICK="increaseRedValue()" ACCESSKEY=R><span style="font-size:26px;"><svg id="increaseRedButtonIcon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" transform="translate(-10,-12)" viewBox="0 0 16 16"> 
<rect opacity="1" fill="none" stroke="none" stroke-width="1"  width="16" height="16" />
<polyline opacity="1" fill="none" stroke="blue" stroke-width="1.1" points="4,8 12,8" rotate(0)?="" />
<polyline opacity="1" fill="none" stroke="blue" stroke-width="1.1" points="8,4 8,12" rotate(0)?="" />
 </svg></span></BUTTON> 


<span id="increaseRgbRedGreenSpace">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>


<BUTTON style="background-color:mintcream;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid darkgreen;border-radius:8px;width:26px;height:26px;-webkit-appearance:none" TYPE="button" id="increaseGreenButton" name="increaseGreenButton" title="increase the Green value" aria-label="increase the Green value" ONCLICK="increaseGreenValue()" ACCESSKEY=G><span style="font-size:26px;"><svg id="increaseGreenButtonIcon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" transform="translate(-10,-12)" viewBox="0 0 16 16"> 
<rect opacity="1" fill="none" stroke="none" stroke-width="1"  width="16" height="16" />
<polyline opacity="1" fill="none" stroke="blue" stroke-width="1.1" points="4,8 12,8" rotate(0)?="" />
<polyline opacity="1" fill="none" stroke="blue" stroke-width="1.1" points="8,4 8,12" rotate(0)?="" />
 </svg></span></BUTTON> 


<span id="increaseRgbGreenBlueSpace">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>


<BUTTON style="background-color:lightcyan;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid blue;border-radius:8px;width:26px;height:26px;-webkit-appearance:none" TYPE="button" id="increaseBlueButton" name="increaseBlueButton" title="increase the Blue value" aria-label="increase the Blue value" ONCLICK="increaseBlueValue()" ACCESSKEY=B><span style="font-size:26px;"> <svg id="increaseBlueButtonIcon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" transform="translate(-10,-12)" viewBox="0 0 16 16"> 
<rect opacity="1" fill="none" stroke="none" stroke-width="1"  width="16" height="16" />
<polyline opacity="1" fill="none" stroke="blue" stroke-width="1.1" points="4,8 12,8" rotate(0)?="" />
<polyline opacity="1" fill="none" stroke="blue" stroke-width="1.1" points="8,4 8,12" rotate(0)?="" />
 </svg> </span></BUTTON><br>
<input id="redSlider" type="range" min="0" max="255" step="1" style="width:129px;height:136px;border:2px solid Red;border-radius:8px;-webkit-appearance:slider-vertical" orient="vertical"></input>
<span id="sliderRgbRedGreenSpace">&nbsp;</span>
<input id="greenSlider" type="range" min="0" max="255" step="1" 
style="width:129px;height:136px;-webkit-appearance:slider-vertical" orient="vertical"></input>
<span id="sliderRgbGreenBlueSpace">&nbsp;</span>
<input id="blueSlider" type="range" min="0" max="255" step="1" 
style="width:129px;height:136px;-webkit-appearance:slider-vertical" orient="vertical"></input><br>

<span id="decreaseRgbInitialSpace"></span><BUTTON style="background-color: mistyrose;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid red;border-radius:8px;width:26px;height:26px;-webkit-appearance:none" TYPE="button" id="decreaseRedButton" name="decreaseRedButton" title="decrease the Red value" aria-label="decrease the Red value" ONCLICK="decreaseRedValue()" ACCESSKEY=r><span style="font-size:26px;"><svg id="decreaseRedButtonIcon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-minus" transform="translate(-8,-11)" viewBox="0 0 16 16"><rect opacity="1" fill="none" stroke="none" stroke-width="1"  width="16" height="16" />
<polyline opacity="1" fill="none" stroke="blue" stroke-width="1.1" points="4,8 12,8" rotate(0)?="" /></svg></span></BUTTON>


<span id="decreaseRgbRedGreenSpace">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>


<BUTTON style="background-color: mintcream;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid darkgreen;border-radius:8px;width:26px;height:26px;-webkit-appearance:none" TYPE="button" id="decreaseGreenButton" name="decreaseGreenButton" title="decrease the Green value" aria-label="decrease the Green value" ONCLICK="decreaseGreenValue()" ACCESSKEY=g><span style="font-size:26px;"><svg id="decreaseGreenButtonIcon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-minus" transform="translate(-10,-12)" viewBox="0 0 16 16"><rect opacity="1" fill="none" stroke="none" stroke-width="1"  width="16" height="16" />
<polyline opacity="1" fill="none" stroke="blue" stroke-width="1.1" points="4,8 12,8" rotate(0)?="" /></svg></span></BUTTON>


<span id="decreaseRgbGreenBlueSpace">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>


<BUTTON style="background-color:lightcyan;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid blue;border-radius:8px;width:26px;height:26px;-webkit-appearance:none" TYPE="button" id="decreaseBlueButton" name="decreaseBlueButton" title="decrease the Blue value" aria-label="decrease the Blue value" ONCLICK="decreaseBlueValue()" ACCESSKEY=b><span style="font-size:26px;"><svg id="decreaseBlueButtonIcon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-minus" transform="translate(-10,-12)" viewBox="0 0 16 16"> 
<rect opacity="1" fill="none" stroke="none" stroke-width="1"  width="16" height="16" />
<polyline opacity="1" fill="none" stroke="blue" stroke-width="1.1" points="4,8 12,8" rotate(0)?="" />
 </svg></span></BUTTON><br>
<span id="colorLegendRed" style="color:Red;font-size:21px;"><b>&nbsp;&nbsp;&nbsp;
Red</b></span>

<span id="colorLegendGreen" style="color:Green;font-size:21px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;
Green</b></span>

<span id="colorLegendBlue"
 style="color:Blue;font-size:21px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;
Blue</b></span>

<span id="colorLegendEnd" style="color:Blue;font-size:21px;"><b>&nbsp;&nbsp;&nbsp;</b></span>
</center>

<span id="verticalSpacer2"><br></span>

    <center>
       <div class="colorPickerScrollingTable1"  style="color:black;background-color:white;border:2px solid maroon;border-radius:8px;margin-top:3px;margin-bottom:3px" id="scrollingReferenceOut" name="scrollingReferenceOut" title="the color table appears within this scrolling area" aria-label="the color table appears within this scrolling area">

<span style="color:Navy;font-size:18px;"><b>References</b></span><br>

<span style="color:Black;font-size:10px;">[1]&nbsp;&nbsp;&nbsp;&nbsp;"HTML 5.2." <i>W3C</i>, 14-Dec-2017. [Online]. Available: https://www.w3.org/TR/html52/. [Accessed: 13-Jun-2021].</span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.w3.org/TR/html52/" target="_blank"><span style="font-size:11px;"><b><i>HTML 5.2.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[2]&nbsp;&nbsp;&nbsp;&nbsp;"Cascading Style Sheets Level 2 Revision 2 &#40;CSS 2.2&#41; Specification." <i>W3C</i>, 12-Apr-2016. [Online]. Available: https://www.w3.org/TR/CSS22/. [Accessed: 13-Jun-2021].</span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.w3.org/TR/CSS22/" target="_blank"><span style="font-size:11px;"><b><i>Cascading Style Sheets Level 2 Revision 2 &#40;CSS 2.2&#41; Specification.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[3]&nbsp;&nbsp;&nbsp;&nbsp;"Cascading Style Sheets, level 1." <i>W3C</i>, 11-Apr-2008. [Online]. Available: https://www.w3.org/TR/REC-CSS1/. [Accessed: 13-Jun-2021].</span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.w3.org/TR/REC-CSS1/" target="_blank"><span style="font-size:11px;"><b><i>Cascading Style Sheets, level 1.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[4]&nbsp;&nbsp;&nbsp;&nbsp;"CSS Snapshot 2020." <i>W3C</i>, 22-Dec-2020. [Online]. Available: https://www.w3.org/TR/CSS/. [Accessed: 13-Jun-2021].</span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.w3.org/TR/CSS/" target="_blank"><span style="font-size:11px;"><b><i>CSS Snapshot 2020.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[5]&nbsp;&nbsp;&nbsp;&nbsp;"ECMA-262," <i>Ecma International</i>, Jun-2020. [Online]. Available: https://www.ecma-international.org/publications-and-standards/standards/ecma-262/. [Accessed: 13-Jun-2021].</span><br>

<span style="color:Navy;font-size:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:Green;font-size:10px;">&#x2714; </span>ECMAScript&#174; 2020 language specification<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11th edition, June 2020<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:Navy;font-size:12px;"><b>This is the specification for JavaScript.</b></span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.ecma-international.org/publications-and-standards/standards/ecma-262/" target="_blank"><span style="font-size:11px;"><b><i>ECMA-262,</i></b></span></a><br><br>



<span style="color:Black;font-size:10px;">[6]&nbsp;&nbsp;&nbsp;&nbsp;"ECMAScript Internationalization API Specification &#8211; ECMA-402 Edition 1.0." <i>Ecma International</i>, Dec-2012. [Online]. Available: https://402.ecma-international.org/1.0/. [Accessed: 13-Jun-2021].</span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://402.ecma-international.org/1.0/" target="_blank"><span style="font-size:11px;"><b><i>ECMAScript Internationalization API Specification &#8211; ECMA-402 Edition 1.0.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[7]&nbsp;&nbsp;&nbsp;&nbsp;"Scalable Vector Graphics (SVG) 2." <i>W3C</i>, 04-Oct-2018. [Online]. Available: https://www.w3.org/TR/SVG2/. [Accessed: 01-Jun-2021].</span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.w3.org/TR/SVG2/" target="_blank"><span style="font-size:11px;"><b><i>Scalable Vector Graphics (SVG) 2.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[8]&nbsp;&nbsp;&nbsp;&nbsp;"Scalable Vector Graphics (SVG) 1.1 (Second Edition)." <i>W3C</i>, 16-Aug-2011. [Online]. Available: https://www.w3.org/TR/SVG11/. [Accessed: 01-Jun-2021].</span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.w3.org/TR/SVG11/" target="_blank"><span style="font-size:11px;"><b><i>Scalable Vector Graphics (SVG) 1.1 (Second Edition).</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[9]&nbsp;&nbsp;&nbsp;&nbsp;Mozilla and individual contributors, “SVG: Scalable Vector Graphics | MDN.” <i>MDN Web Docs</i>. [Online]. Available: https://developer.mozilla.org/en-US/docs/Web/SVG. [Accessed: 06-Dec-2021].</span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://developer.mozilla.org/en-US/docs/Web/SVG" target="_blank"><span style="font-size:11px;"><b><i>SVG: Scalable Vector Graphics | MDN.</i></b></span></a><br><br>






<span style="color:Black;font-size:10px;">[10]&nbsp;&nbsp;&nbsp;&nbsp;“Web Content Accessibility Guidelines (WCAG) 2.1.” <i>W3C</i>, 05-Jun-2018. [Online]. Available: 
https://www.w3.org/TR/WCAG21/.
[Accessed: 20-Apr-2021]. </span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.w3.org/TR/WCAG21/" target="_blank"><span style="font-size:11px;"><b><i>Web Content Accessibility Guidelines (WCAG) 2.1.</i></b></span></a><br><br>





<span style="color:Black;font-size:10px;">[11]&nbsp;&nbsp;&nbsp;&nbsp;“Techniques for WCAG 2.2.” <i>W3C</i>, 09-Mar-2021. [Online]. Available: https://www.w3.org/WAI/WCAG21/Techniques/. [Accessed: 20-Apr-2021]. </span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.w3.org/WAI/WCAG21/Techniques/" target="_blank"><span style="font-size:11px;"><b><i>Techniques for WCAG 2.2.</i></b></span></a><br><br>








<span style="color:Black;font-size:10px;">[12]&nbsp;&nbsp;&nbsp;&nbsp;Mozilla and individual contributors, “&lt;color> - CSS: Cascading Style Sheets | MDN.” <i>MDN Web Docs</i>. [Online]. Available: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value. [Accessed: 20-Dec-2021]. </span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank"><span style="font-size:11px;"><b><i>&lt;color> - CSS: Cascading Style Sheets | MDN.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[13]&nbsp;&nbsp;&nbsp;&nbsp;“HTML Color Codes Chart 🎨.” <i>RapidTables.com</i>. [Online]. Available: https://www.rapidtables.com/web/color/html-color-codes.html. [Accessed: 20-Dec-2021]. </span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.rapidtables.com/web/color/html-color-codes.html" target="_blank"><span style="font-size:11px;"><b><i>HTML Color Codes Chart 🎨.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[14]&nbsp;&nbsp;&nbsp;&nbsp;“HTML Color Names.” <i>W3Schools</i>, 2021. [Online]. Available: https://www.w3schools.com/colors/colors_names.asp. [Accessed: 20-Dec-2021]. </span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://www.w3schools.com/colors/colors_names.asp" target="_blank"><span style="font-size:11px;"><b><i>HTML Color Names.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[15]&nbsp;&nbsp;&nbsp;&nbsp;“🎨 HTML Color Codes.” <i>HTML-Color.Codes</i>, 2021. [Online]. Available: https://html-color.codes/. [Accessed: 20-Dec-2021]. </span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://html-color.codes/" target="_blank"><span style="font-size:11px;"><b><i>🎨 HTML Color Codes.</i></b></span></a><br><br>

<span style="color:Black;font-size:10px;">[16]&nbsp;&nbsp;&nbsp;&nbsp;C. Master, “140 HTML colors with HEX, RGB codes and names,” <i>Coderslang: Become a Software Engineer</i>, 12-Feb-2021. [Online]. Available: https://learn.coderslang.com/0028-html-colors-with-names-hex-and-rgb-codes/. [Accessed: 20-Dec-2021]. </span><br>
<svg id="windowPlusIcon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-window-plus" viewBox="0 0 16 16" role="graphics-document" aria-labelledby="iconTitle" aria-describedby="iconDesc"> 
    <title> id="iconTitle">Window Plus icon</title>
    <desc  id="iconDesc">this icon represents opening a new window</desc> <path opacity="1" fill="lightgrey" stroke="lightgrey" stroke-width="0.08" fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V7H1v5a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4Zm1 2h13V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2Zm1.5-1Z"/> <path opacity="1" fill="lightsteelblue" stroke="navy" stroke-width="0.07" fill-rule="evenodd" d="M4 5Zm2-.5Zm10 8a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 1 .5.5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 .5-.5Z"/> </svg>
<span style="color:Black;font-size:11px;">&nbsp;View&nbsp;
</span>
<a href="https://learn.coderslang.com/0028-html-colors-with-names-hex-and-rgb-codes/" target="_blank"><span style="font-size:11px;"><b><i>140 HTML colors with HEX, RGB codes and names,</i></b></span></a>

<br><br>




	</div>

    </center>


    <p>
       <br>
    </p>



    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>


















