@page
@model IndexModel
@{
    ViewData["Title"] = "Video - Early SVG Animations";
}

<div class="text-center">

   <h1>@ViewData["Title"]</h1>

<span id="introNotifyUser" style="color:Maroon;font-size:14px;"><b>If the video below appears as a black rectangle, please tap it once. The controls will appear, and you can then press the play button.</b></span><br>
<center> 
<video id="earlySVGvideoPlayer" name="earlySVGvideoPlayer" title="the video displays here" aria-label="the video displays here" width="420" height="280" poster controls nodownload autoplay> <source 
src="@Url.Content("~/videos/earlySVG872_14may2022_360.mp4")" type="video/mp4"> <track default src="@Url.Content("~/videos/earlySVGvideo.vtt")"> Your browser does not support the video HTML element.</video><br>
<BUTTON style="background-color:lightblue;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid lightgrey;border-radius:8px;width:55px;height:50px;-webkit-appearance:none" TYPE="button" id="decreaseVolumeButton" name="decreaseVolumeButton" title="decrease volume" aria-label="decrease volume" ONCLICK="decreaseVolume()" ACCESSKEY=D><span style="font-size:28px;">     <svg id="svgDecreaseVolume" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="navy" stroke="white" class="bi bi-volume-down-fill" viewBox="0 0 16 16"> <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4z"/> <path fill="none" stroke="green" stroke-width="0.9" d="M10.707 11.182A4.486 4.486 0 0 0 12.025 8a4.486 4.486 0 0 0-1.318-3.182"/> </svg>     </span></BUTTON> <input id="volumeSlider" name="volumeSlider" title="this slider adjusts the volume" aria-label="this slider adjusts the volume" type="range" min="0" max="1.00" step="0.1" style="width:238px;height:60px;-webkit-appearance:slider-horizontal" orient="horizontal"></input> <BUTTON style="background-color:lightblue;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid lightgrey;border-radius:8px;width:55px;height:50px;-webkit-appearance:none" TYPE="button" id="increaseVolumeButton" name="increaseVolumeButton" title="increase volume" aria-label="increase volume" ONCLICK="increaseVolume()" ACCESSKEY=U><span style="font-size:28px;">     <svg id="svgIncreaseVolume" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="navy" stroke="white" class="bi bi-volume-up-fill" viewBox="0 0 16 16"> 
<path fill="none" stroke="green" stroke-width="0.5" d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/> <path fill="none" stroke="green" stroke-width="0.5" d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/> <path fill="none" stroke="green" stroke-width="0.5" d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707z"/> <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/> </svg>     </span></BUTTON> <BUTTON style="background-color:lightblue;color:white;margin-left:1px;margin-right:2px;margin-top:1px;margin-bottom:1px;border:2px solid lightgrey;border-radius:8px;width:55px;height:50px;-webkit-appearance:none" TYPE="button" id="muteButton" name="muteButton" title="mute audio" aria-label="mute audio" ONCLICK="muteVolume()" ACCESSKEY=M><span style="font-size:28px;">     <svg id="svgMute" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="navy" stroke="white" class="bi bi-volume-mute-fill" viewBox="0 0 16 16"> <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/> <polyline fill="none" stroke="red" stroke-width="1.3" points="15,11 9,5"/><polyline fill="none" stroke="red" stroke-width="1.3" points="15,5 9,11"/> </svg>     </span></BUTTON> 
</center> 

    <p><a asp-area="" asp-page="/earlySVGreferences">View the references for the SVG Animation demo</a>.</p>


    <p>
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

